.advantages__list {
    padding: 0;
    margin: 0;
    list-style: none;
    margin-bottom: 30px;
}

.advanteges__photo {
    width: 100%;
    height: auto;
}

.advantages__promo__img {
    width: 100%;
    height: auto;
}

.bottom-list--text {
    border-bottom: 1px solid #d6d6d6;
    padding-bottom: 20px;
}

.advantages__promo--info {
    background-color: #81b3d2;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
    font-size: 14px;
    line-height: 21px;
    padding: 43px 28px;
    text-align: center;
}

.advantages__promo__title {
    font-weight: bold;
    font-size: 18px;
}

.advantages__list-item p:first-of-type {
    font-size: 18px;
    font-weight: bold;
}

.advantages__list-item {
    text-align: center;
    padding: 30px 35px 0;
}

.list-item__info {
    font-size: 14px;
    line-height: 21px;
}

.bottom-list {
    background-color: #eeeeee;
}

@media (min-width: 768px) {
    .advantages__promo {
        display: flex;
        margin-bottom: 40px;
    }
    .advantages__promo__title {
        font-size: 21px;
    }

    .advantages {
        margin-bottom: 50px;
    }

    .advantages__promo--info {
        min-width: 256px;
        width: auto;
    }

    .advantages__list {
        display: flex;
    }

    .advantages__list-item {
        padding: 0 40px;
        // &::before,
        // &::after {
        //     display: none;
        // }
    }

    .bottom-list--text {
        border-bottom: none;
    }

    .advantages__bottom--promo {
        flex-direction: row-reverse;
        margin-bottom: 0;
    }
}