.contacts__info {
    font-style: 14px;
    line-height: 26px;
    text-transform: uppercase;
}

.contacts .contacts__info {
    text-transform: uppercase;
}

.contacts__cell {
    text-align: center;
}