.footer__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer a {
    text-decoration: none;
    color: #000000;
}


.footer__social {
    list-style: none;
    display: flex;
    width: 153px;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    margin-bottom: 40px;
}

.footer__social--img path {
    fill: white;
}

.footer__social--item {
    width: 48px;
    height: 48px;
    background-color: #81b3d2;
    display: flex;
    justify-content: center;
    align-items: center;
}


.footer__main-link {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 40px;
}

@media (min-width: 768px) {
    .footer__inner {
        flex-direction: row;
        justify-content: space-between;
        padding: 25px 60px;
    }

    .footer__social {
        margin: 0;
    }

    .footer__main-link {
        margin-bottom: 0;
    }
}