.form {
    padding: 0 20px;
}

.review__wrapper {
    padding: 0 20px;
}

.review__about {
    font-size: 14px;
    line-height: 24px;
    text-align: center;
}

.form__introduction p {
    font-weight: bold;
}

.form label {
    text-transform: initial;
}

.form__cell {
    margin-bottom: 20px;
    font-size: 14px;
}

.form__review--checkbox {
    font-size: 18px;
}

.contacts__input {
    width: 100%;
}

.gray--input {
    padding: 20px;
    border-style: none;
    background-color: #f2f2f2;
}

.feedback__input {
    width: 100%;
    margin-bottom: 50px;
}

.feedback {
    margin-bottom: 74px;
}