.welcome-galary__img {
    min-height: 161px;
}

.welcome-galary__wrapper {
    display: none;
}

.galary__title {
    font-size: 18px;
    line-height: 26px;
}

.galary__promo {
    font-size: 14px;
    line-height: 24px;
}