.galary {
    padding: 0 20px;
}

.welcome-galary__img {
    min-height: 161px;
}

.galary-greeting__wrapper {
    display: none;
    padding: 30px;
}
.galary__item {
    border-bottom: 1px solid #f2f2f2;
}

.galary__item-description {
    font-size: 14px;
    font-weight: bold;
    line-height: 24px;
}

.galary__item-author {
    text-transform: none;
}

.galary__item-likes {
    text-transform: none;
}