body {
  font-family: "PT Sans", "Arial", sans-serif;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  // outline: 1px solid lightgreen;
}

.common--title {
  font-weight: bold;
  text-align: center;
  line-height: 26px;
  font-size: 18px;
}

img {
  display: block;
}

.common--about-info {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}

.common--mountain-background {
  background: url("../img/bg-back-mobile@1x.jpg") no-repeat bottom center/cover;
  width: auto;
  min-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .common--mountain-background {
    position: relative;
  }

  .common--title {
    font-size: 21px;
  }

  .common--mountain-background::before {
    display: block;
    position: absolute;
    min-height: 20px;
    background-image: url("../img/bg-triangle.svg");
    background-color: red;
    content: "";
  }
}

.show-content {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}