.navigation {
    background-color: red;
    background-color: #81b3d2;
}

.navigation__link {
    font-size: 18px;
    line-height: 40px;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
    display: flex;
    align-items: center;

}