@media (min-width: 768px) {
    .video__extra-info {
        width: 418px;
        margin: 0 auto;
        margin-bottom: 75px;
    }

    .video__title {
        margin-bottom: 30px;
    }

    .video__player--preview {
        width: 648px;
        margin: 0 auto;
    }

    .video__player--inner {
        min-height: 95px;
        background-color: #000;
        opacity: .6;
    }
}